* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  flex-basis: 100px;
  height: 40px;
  line-height: 40px;
}

body {
  padding-top: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
  padding: 0 20px;

  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;

  max-height: 40px;
  overflow: hidden;
  transition: max-height 0.4s;

  z-index: 100;
}

#gnbList {
  display: flex;
  justify-content: center;
}

#gnbList li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100px;
  text-align: center;
}

#gnbList li a:hover {
  background-color: #eee;
}

main {
  padding: 50px 0;
  background-color: #eee;
}

.imgList {
  display: flex;
  justify-content: center;
}

.imgList li {
  width: 100px;
  height: 150px;
  border: 1px solid #000;
  overflow: hidden;
}

.imgList li + li {
  margin-left: 10px;
}

.imgList li a {
  display: flex;

  justify-content: center;
  align-items: center;
}

.imgList li a img {
  height: 150px;
  transition: 0.4s;
}

.imgList li a:hover img {
  transform: scale(1.2);
}

.sideWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 40px;
  flex-basis: 100px;
}

.btnSide {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30px;
  height: 30px;
  /* border-radius: 50%; */
}

.btnSide:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.btnSide span {
  display: block;

  width: 20px;
  height: 2px;

  background-color: black;
}

.btnSide span:nth-child(2) {
  margin: 5px 0;
}

/* 800px보다 작으면 헤더 안보이게 */
@media (max-width: 800px) {
  nav.on {
    transform: translate(-100%);
    transition: transform 0s 0s;
    opacity: 1;
  }

  nav {
    position: fixed;
    left: 100%;
    top: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.4);

    opacity: 0;

    transition: transform 0s 0.4s, opacity 0.4s;
    transform: translateX(0);
  }

  nav.on #gnbList {
    transform: translateX(0%);
  }

  #gnbList {
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;

    background: #fff;
    transition: transform 0.4s;
    transform: translateX(100%);
  }

  #gnbList li a {
    width: auto;
    justify-content: flex-start;
    padding: 0 10px;
  }

  .btnSide {
    display: flex;
  }
}

.modalBg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.modal .contentBox {
  flex: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 300px;
  background-color: #fff;
}

.modal h4 {
  border-bottom: 1px solid #000;
  padding: 5px;
}
.modal p {
  padding: 5px;
}

.modal .btnBox {
  padding: 10px;
  text-align: center;
}

.modal .btnBox button {
  border: none;
  outline: none;
  padding: 5px 20px;

  background-color: rgb(117, 191, 255);
  color: #fff;
  font-weight: 700;
}

.modalBg.close {
  opacity: 0;

  transition: opacity 0.2s;
}

.modalBg.close .modal {
  transform: translateY(20px);
  transition: transform 0.2s;
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
}
