.container {
  width: 500px;
  padding: 10px;

  border: 3px solid black;
}

.container .box {
  width: 100px;
  height: 100px;
  margin: 10px 0;

  border: 3px solid red;
  box-sizing: border-box;

  text-align: center;
  line-height: 100px;

  transition: all 0.25s;
}

.container.translate {
  perspective: 500px;
}

.container.translate .box:nth-of-type(1):hover {
  transform: translateX(50px);
}

.container.translate .box:nth-of-type(2):hover {
  transform: translateY(-50px);
}

.container.translate .box:nth-of-type(3):hover {
  transform: translate(20px, 20px);
}

.container.translate .box.z:hover {
  transform: translateZ(-100px);
}

.container.rotate {
  /* 3d 관점이 필요한 컨테이너 요소에 perspective(관점) */
  perspective: 500px;
}

.container.rotate .box {
  /* transform-origin: top center; */
}
.container.rotate .box:hover {
  transform: rotate(50deg);
}

.container.rotate .x:hover {
  transform: rotateX(45deg);
}

.container.rotate .y {
  transform-origin: left;
}
.container.rotate .y:hover {
  transform: rotateY(45deg);
}

.container.scale .box.x {
  transform-origin: center;
}
.container.scale .box.x:hover {
  transform: scaleX(110%);
}

.container.scale .box.y {
  transform-origin: bottom;
}
.container.scale .box.y:hover {
  transform: scaleY(1.2);
}

.container.scale .box.xy:hover {
  transform: scale(1.2);
}

.container.scale .box.z {
  transform: scaleZ(1) rotateX(50deg);
}
.container.scale .box.z:hover {
  transform: scaleZ(5) rotateX(50deg);
}

.container.skew .box.x:hover {
  transform: skewX(20deg);
}

.container.skew .box.y:hover {
  transform: skewY(20deg);
}

.container.skew .box.xy:hover {
  transform: skew(20deg, 40deg);
}

.container.complex .box {
  transform: skewX(20deg);
}
.container.complex .box:hover {
  transform: translate(50px) scale(2) rotate(30deg) skewX(20deg);
}
