.container {
  width: 500px;
  padding: 10px;

  border: 3px solid black;
}

.container .box {
  width: 100px;
  height: 100px;
  margin: 10px 0;

  border: 3px solid red;
  box-sizing: border-box;

  text-align: center;
  line-height: 100px;
  transition: 0.25s;
}

.container.translate {
  perspective: 500px;
}

.container.translate .box:nth-of-type(1):hover {
  transform: translateX(20px);
}

.container.translate .box:nth-of-type(2):hover {
  transform: translateY(20px);
}
.container.translate .box:nth-of-type(3):hover {
  transform: translate(20px, 20px);
}

.container.translate .box.z:hover {
  transform: translateZ(100px);
}

.container.rotate .box {
  transform-origin: top center;
}

.container.rotate .box.z:hover {
  transform: rotateZ(50deg);
}

.container.rotate .box.x:hover {
  transform: rotatex(45deg);
}

.container.rotate .box.y:hover {
  transform: rotatey(45deg);
}

.container.rotate {
  perspective: 500px;
  /* 3D 관점이 필요한 컨테이너 요소에 perspective(관점) */
}

.container.scale .x {
  transform-origin: left;
}

.container.scale .box.y {
  transform-origin: bottom;
}

.container.scale .box.x:hover {
  transform: scaleX(90%);
}

.container.scale .box.y:hover {
  transform: scaleY(1.2);
}

.container.scale .box.xy:hover {
  transform: scale(1.2);
}

.container.skew .box.x:hover {
  transform: skewX(20deg);
}

.container.skew .box.y:hover {
  transform: skewY(20deg);
}
.container.skew .box.xy:hover {
  transform: skew(20deg, 20deg);
}

.container.complex .box:hover {
  transform: translate(50px) scale(2) rotate(30deg) skew(20deg);
}
