@font-face {
  font-family: speedeek;
  src: url(../assets/font/Speedee_K_L.woff);
  font-weight: 400;
}

@font-face {
  font-family: speedeek;
  src: url(../assets/font/Speedee_K_B.woff);
}

@font-face {
  font-family: speedeek;
  src: url(../assets/font/Speedee_K_R.woff);
}

:root {
  font-size: 10px;
}

body {
  font-family: speedeek;
  font-weight: 700;
}

header {
  border-color: #fff;
  position: relative;

  z-index: 10000;
}

.wrapper {
  max-width: 1168px;
  margin: 0 auto;
}

header .headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 140px;
  width: 1168px;
  margin: 0 auto;
}

#gnbList {
  display: flex;
  height: 141px;
}

#gnbList:hover::after {
  display: block;

  border-top: 1px solid #ccc;
}

#gnbList::after {
  display: none;
  content: "";
  height: 300px;
  width: 100%;
  background-color: #fff;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
}

#gnbList .depth01:hover > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #ffff00;

  position: absolute;
  bottom: 5px;
}

#gnbList:hover .depth01 > ul {
  display: block;
  margin-top: 1px;
}

#gnbList .depth01 > ul {
  display: none;
  background-color: #fff;
}

#gnbList .depth01 > ul li a {
  padding: 5px 0;
}

#gnbList .depth01 > ul li a:hover {
  color: #000;
  border-bottom: 1px solid black;
}

#gnbList .depth01 > ul li {
  padding: 20px 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: #999;
}

#gnbList .depth01 {
  font-size: 2em;
}

#gnbList .depth01 > a::after {

  display: none;

}

#gnbList .depth01 > a {
  display: flex;
  align-items: center;
  margin-right: 85px;
  height: 100%;

  position: relative;
  pos
}

.utll {
  display: flex;
}

.utll .utllList {
  display: flex;
}

.utll .utllList li {
  width: 80px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 48px;
  color: #fff;
}

.utll .utllList li:nth-child(1) {
  background-color: #bd0007;
}

.utll .utllList li:nth-child(2) {
  margin: 0 4px;
  background-color: #d87e00;
}

.utll .utllList li:nth-child(3) {
  margin: 0 4px;
  background-color: #264a36;
}

.utll .btnSearch {
  margin-left: 26px;
  cursor: pointer; /*마우스가 호버됐을 때 손가락 모양*/
}

#banner .slideList li img {
  width: 100%;
}

#banner {
  position: relative;
}

#banner .btnSlide .btn {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  background: url(../assets/imgs/bg_swiper_new.png) 0 0 no-repeat;
  cursor: pointer;
}

#banner .btnSlide .btn.prev {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#banner .btnSlide .btn.next {
  right: 0;
  background-position-y: -90px;

  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#banner .controls {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#banner .controls .btnPlay {
  width: 36px;
  height: 36px;
  background-color: black;
  background: url(../assets/imgs/bg_swiper_new.png) -92px 0;
  margin-right: 20px;
  cursor: pointer;
}
#banner .controls .btnPlay:hover {
  background-position-y: -36px;
}

#banner .controls .statusBar {
  width: 200px;
  height: 6px;
  background-color: #fff;
  border-radius: 5px;
}

#live .liveWrapper {
  padding: 20px 0;
}

#live .liveWrapper .title {
  font-size: 4rem;
}
#live .liveWrapper .eventList {
  display: flex;
  margin-top: 60px;
  flex-wrap: wrap;
  gap: calc((1168px - (366px * 3)) / 2);
}

#live .liveWrapper .eventList li {
  border-radius: 10px;
  overflow: hidden;
  height: 438px;

  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

#live .liveWrapper .eventList li .contentBox {
  padding: 15px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
}

@media (max-width: 1168px) {
  #live .liveWrapper {
    max-width: 768px;
  }

  #live .liveWrapper .title {
    text-align: center;
  }
}

@media (max-width: 790px) {
  #live .liveWrapper .eventList {
    justify-content: center;
  }
}

footer {
  background-color: #292929;
}

footer .footerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 45px 0 55px;
}

footer .footerWrapper .footerLeft {
  display: flex;
  font-size: 1.4rem;
}

footer .footerWrapper .linkList li:nth-child(1) {
  color: #ffff00;
}

footer .footerWrapper .linkList {
  width: 190px;
  color: #fff;
}

footer .footerWrapper .footerLeft li + li {
  margin-top: 10px;
}

footer .footerLeft .infoList {
  font-size: 400;
  color: #999;
}

footer .footerRight .snsList {
  display: flex;
  align-items: center;
}

footer .footerRight .snsList li + li {
  margin-left: 20px;
}

footer .footerRight .snsList li a {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../assets/imgs/ico_sns.png) 0 0 no-repeat;
}

footer .footerRight .snsList li:nth-child(2) a {
  background-position-y: -40px;
}

footer .footerRight .snsList li:nth-child(3) a {
  background-position-y: -80px;
}
footer .footerRight .snsList li:nth-child(4) a {
  background-position-y: -120px;
}

footer .footerRight .snsList li:nth-child(5) a {
  width: auto;
  height: auto;
  background: none;
}

footer .footerRight .snsList li:nth-child(5) a img {
  height: 70px;
}

.sideBtns {
  position: fixed;
  right: 30px;
  bottom: 400px;
}

.sideBtns ul li a {
  display: block;
  width: 121px;
  height: 121px;
}

.sideBtns ul li a:nth-child(1) a {
  background: url(../clone/assets/imgs/btn_story_04.png) center no-repeat;
}

.sideBtns ul li a:nth-child(2) a {
  background: url(../clone/assets/imgs/btn_delivery_04.png) center no-repeat;
}

.sideBtns ul li button {
  width: 51px;
  height: 48px;
  cursor: pointer;
  background: url(../clone/assets/imgs/btn_top_04.png) center no-repeat;
}

.sideBtns ul li {
  text-align: center;
}

.sideBtns ul li + li {
  margin-top: 20px;
}
