#banner .slideList li img {
  width: 100%;
}

#banner {
  position: relative;
}

#banner .btnSlide .btn {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  background: url(../clone/assets/imgs/bg_swiper_new.png) 0 0 no-repeat;
  cursor: pointer;
}

#banner .btnSlide .btn.prev {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#banner .btnSlide .btn.next {
  right: 0;
  background-position-y: -90px;

  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#banner .controls {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#banner .controls .btnPlay {
  width: 36px;
  height: 36px;
  background-color: black;
  background: url(../clone/assets/imgs/bg_swiper_new.png) -92px 0;
  margin-right: 20px;
  cursor: pointer;
}
#banner .controls .btnPlay:hover {
  background-position-y: -36px;
}

#banner .controls .statusBar {
  width: 200px;
  height: 6px;
  background-color: #fff;
  border-radius: 5px;
}
